name: Validate with hassfest and tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  validate:
    runs-on: "ubuntu-latest"
    steps:
        - uses: "actions/checkout@v4"
        - name: Set up Python
          uses: actions/setup-python@v4
          with:
            python-version: "3.13"
        - name: Run unit tests
          run: |
            ./run-tests.sh
        - uses: "home-assistant/actions/hassfest@master"
        - name: HACS Action
          uses: "hacs/action@main"
          with:
            category: "integration"